:root {
  --cf: #fff;
  --cb: #2e2e2e;
  --c1: #e8f9fd;
  --c2: #79dae8;
  --c3: #0aa1dd;
  --c4: #2155cd;
  --icon-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 6% auto/11.6% 88.4%;
  background-color: var(--c1);
}
/* Nav bar */
.navbar{
  grid-area: 1/span 2;
  height: min-content;
  background-color: var(--c4);
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0;
}
#brandname {
  display: flex;
  width: min-content;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5em 0.6em;
  border-bottom: 1px solid var(--c1);
  cursor: pointer;
}
.icons {
  width: 1em;
  height: 1em;
}
#logo {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.4em;
  text-decoration: none;
  color: var(--c1);
}
#logo > img {
  width: 1.4em;
  height: 1.4em;
  margin: 0 0.2em 0 0.6em;
}
#msg{
  text-align: center;
  align-self: center;
  width: 20%;
  /* background-color: var(--c2); */
  color: var(--c1  ,#fbff00);
  font-size: 1.2em;
  font-weight: 700;
  /* border: 2px solid var(--c1); */
  margin: auto ;
}
/* Side Bar */
#sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  /* gap: 2px; */
  font-size: 1rem;
  color: var(--c1);
}
#sub-sidebar{
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--c4);
}
#sub-sidebar > a {
  color: var(--c1);
  text-decoration: none;
  padding: 0.5em 0.6em;
  border-bottom: 1px solid var(--c1);
  cursor: pointer;
}
.icon {
  width: 1em;
  height: 1em;
  margin: 0 1em 0 0;
}
.link:hover {
  text-decoration: underline;
  transform: scale(1.01);
  background-color: var(--c2);
  font-weight: bolder;
  color: var(--c4);
}
.link:hover > .icon {
  filter: invert(100%);
}
/* Container */
.container {
  width: 87%;
  padding: 1em;
}
@media only screen and (max-width: 899.9px){
  html {font-size: 1.6vw;}
  #sidebar{width: 20%;}
}
@media only screen and (min-width: 1199.9px){html {font-size: 1vw;}}
